<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<%= form_for @order do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :quantity %>
  <%= f.number_field :quantity %>

  <%= f.submit "Create Order" %>

<% end %>
